img{
    max-height: 400px;
    border-radius: 30px;
}
.remaining_space{
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.align{
    display: flex;
    justify-content: center;
    align-items: center;
}